#----------------------------------------
# SECTION START: git ignore for workspace
#----------------------------------------

#------------
# Directories
#------------
.cache
bin
bin-int

#------
# Files
#------
Makefile
compile_commands.json

#-----------------
# Files Extensions
#-----------------
.make

#--------------------------------------
# SECTION END: git ignore for workspace
#--------------------------------------
