#----------------------------------------
# SECTION START: git ignore for workspace
#----------------------------------------

#------------
# Directories
#------------
.cache

#------
# Files
#------

#-----------------
# Files Extensions
#-----------------

#--------------------------------------
# SECTION END: git ignore for workspace
#--------------------------------------
